---
http_interactions:
- request:
    method: post
    uri: https://coll-8-dev.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"bad","client_secret":"creds","audience":"https://api.drop2shop.ie","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 5c9d1bd02b83f3f3
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 4a617d280dc3d001
      Ot-Tracer-Traceid:
      - 423e524f53b2985a
      X-Auth0-Requestid:
      - 0232bb74f5f8787732bf
      X-Ratelimit-Limit:
      - '1000000'
      X-Ratelimit-Remaining:
      - '999999'
      X-Ratelimit-Reset:
      - '1598608024'
    body:
      encoding: UTF-8
      string: '{"error":"access_denied","error_description":"Unauthorized"}'
  recorded_at: Fri, 28 Aug 2020 09:47:03 GMT
recorded_with: VCR 6.0.0
