---
http_interactions:
- request:
    method: get
    uri: https://ship-api-uat.drop2shop.ie/api//tracking/TEST110000000074/scan
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer No authentication needed?
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"eventCode":"DAT","packageTrackingNumber":"TEST110000000074001","eventDateTime":"2020-05-25T08:32:04.843","description":"Package
        Created"},{"eventCode":"DAT","packageTrackingNumber":"TEST110000000074002","eventDateTime":"2020-05-25T08:32:04.843","description":"Package
        Created"},{"eventCode":"dip","packageTrackingNumber":"TEST110000000074001","eventDateTime":"2020-05-25T08:32:56.77","description":"Depot
        Inbound"}]}'
  recorded_at: Thu, 27 Aug 2020 14:40:00 GMT
recorded_with: VCR 6.0.0
