---
http_interactions:
- request:
    method: post
    uri: https://ship-api-uat.drop2shop.ie/api/shipment
    body:
      encoding: UTF-8
      string: '{"account":{"accountCode":"<ACCOUNT_REF>"},"serviceType":"drop2me","goodsDescription":"Sample
        Signature Required","shippingDate":"2020-09-03","numberOfPackages":1,"references":[{"referenceType":"customerReference","referenceValue":"SH-Me
        0107-001"}],"packages":[{"packagingType":"Box"}],"signatureServices":[{"service":"SignatureRequired"}],"addresses":[{"addressLine1":"Shippers
        Lane","city":"London","postCode":"EC2R","countryCode":"GBR","country":"Great
        Britain","addressType":"shipFrom","addressLocationType":"business","contact":{"contactName":"shipper
        contact","email":"shipper@business.com","mobileNumber":"+4470000000"}},{"addressLine1":"Merrion
        St Upper","city":"Dublin 2","postCode":"D02 R583","state":"Dublin","country":"Ireland","addressType":"shipTo","contact":{"contactName":"consignee
        name","email":"consignee@receiver.com","mobileNumber":"+353870000000"}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"property":"Packages[0].Weight","message":"Weight should
        be greater than 0 kg"}]}'
  recorded_at: Tue, 01 Sep 2020 11:02:45 GMT
recorded_with: VCR 6.0.0
