---
http_interactions:
- request:
    method: get
    uri: https://ship-api-uat.drop2shop.ie/api/tracking/BLWU110000000082/scan
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"eventCode":"DAT","packageTrackingNumber":"BLWU110000000082001","eventDateTime":"2020-09-01T11:31:08.067","description":"Package
        Created"}]}'
  recorded_at: Wed, 02 Sep 2020 08:13:23 GMT
recorded_with: VCR 6.0.0
